<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBr1d8kjO2m0egDIa-BKPZXfa0Nwuu01k4</string>
	<key>GCM_SENDER_ID</key>
	<string>969587260992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gali.TikTok.TikTok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-8898a</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-8898a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969587260992:ios:25cb4ba71d024deae969a5</string>
	<key>DATABASE_URL</key>
	<string>https://tiktok-8898a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>